<h4>Presentación</h4></br>

<p id="acerca_text"> <i>La Comunidad de Software Libre de la Universidad Nacional de Ingeniería (CSLUNI), fue la primera comunidad que surgió el el año 2002, como iniciativa de un grupo de estudiantes de promover, investigar, desarrollar y difundir el Software Libre.Donde la forma de trabajo se basa en el modelo de desarrollo comunitario y colectivo.
"NUESTRO FUTURO DEPENDE DE NUESTRA FILOSOFÍA"
Este grupo esta dedicado a compartir y difundir información y noticias que giren en torno al Software Libre, GNU/Linux, Open Source y temas relacionados</p>
